*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 50px;
}
header nav{
    width: 100%;
    height: 50px;
    display: flex;
    background-color: #59ff59;
    border-bottom: 1px solid rgb(0, 181, 0);
    position: fixed;
    justify-content: space-between;
}
header nav h2{
    font-family: 'Mochiy Pop One', sans-serif;
    color: #167fff;
    margin: 8px;
}
header nav h2:hover{
    color: #222;
    font-size: 25px;
    transition: .6s;
}
header nav .bottom h3:hover{
    height: 3px;
    border-radius: 2px;
    background-color: purple;
    transition: .5s;
}
header nav menu{
    font-size: 14px;
    display: flex;
    margin: 15px;
    margin-right: 40px;
    font-family: 'Caveat', cursive;
    gap: 10px;
    color: #167fff;
}
.ehlel{
    width: 100%;
    height: 700px;
}
.ehlel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ehlel h1{
    display: flex;
    justify-content: center;
    margin-top: -450px;
    font-size: 120px;
    font-family: 'Dancing Script', cursive;
    color: yellow;
}
@media screen and (max-width:414px){
    body{
        display: flex;
    }
    
}
main{
    width: 100%;
    height: 750px;
    background-color: #1d1d1d;
}
main .big {
    width: 100%;
    height: 750px;
}
main .big .container{
    width: 800px;
    height: 400px;
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 400px;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 40px;
}
main .big .container .child{
    width: 400px;
    height: 400px;
    background-color: #167fff;
    border-radius: 8px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #fff;
}
main .big .container .child h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}
main .big .container .child h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
main .big .container .child2{
    height: 400px;
    background-color: #167fff;
    border-radius: 8px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #fff;
}
main .big .container .child2 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
main .big .container .child2 img{
    width: 200px;
    height: 300px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 5px;
}
main .big .container .child2 img:hover{
    width: 220px;
    height: 320px;
    object-fit: cover;
    transition: .20s;
}
main .big .container .child2 p{
    margin-top: -170px;
    margin-left: 160px;
    color: red;
    font-size: 20px;
}
main .big .container .child3{
   width: 840px;
   height: 300px;
   background-color: #167fff;
   border-radius: 5px;
   font-family: 'Edu VIC WA NT Beginner', cursive;
   color: #fff;
   text-align: center;
}
main .big .container .child3 h2{
    display: flex;
    justify-content: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #fff;
    margin-top: 15px;
    text-align: center;
}
@media screen and (max-width:800px){
    html{
        overflow-x: hidden;
    }
    main .big2 .container2{
        margin-left: -1000px;
    }
    main .big .container .child{
        width: 350px;
        height: 350px;
        margin-left: 35px;
    }
    main .big .container .child2{
        width: 350px;
        height: 350px;
        margin-left: -10px;
    }
    main .big .container .child3{
        width: 750px;
        height: 300px;
        margin-left: 32px;
     }
     main .big .container .child2 img{
        width: 150px;
        height: 200px;
    }
    main .big .container .child2 img:hover{
        width: 150px;
        height: 200px;
    }
}
@media screen and (max-width:840px){
    main .big2 {
        width: 700px;
        height: 350px;
    }
}
@media screen and (max-width:870px){
    html{
        overflow-x: hidden;
    }
    main .big .container .child{
        width: 350px;
        height: 350px;
        margin-left: 35px;
    }
    main .big .container .child2{
        width: 350px;
        height: 350px;
        margin-left: -10px;
    }
    main .big .container .child3{
        width: 750px;
        height: 300px;
        margin-left: 32px;
     }
     main .big .container .child2 img{
        width: 200px;
        height: 250px;
    }
    main .big .container .child2 img:hover{
        width: 210px;
        height: 270px;
    }
}
main .big2 {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
}
main .big2 .container2{
    width: 800px;
    height: 400px;
    display: grid;
    justify-content: center;
    margin: auto;
    align-items: center;
    margin-top: -10px;
}
main .big .container .child3 img{
    margin-top: 10px;
    border-radius: 5px;
}
main .big .container .child3 img:hover{
    width: 280px;
    height: 190px;
    object-fit: cover;
    transition: .20s;
}
main .big .container .child3 .youtube{
    margin-top: -120px;
    color: red;
    font-size: 20px;
}
main .big2{
    background-color: #167fff;
}
main .big2 .container2 .child{
    width: 840px;
    display: grid;
    grid-template-columns: 200px 300px;
    height: 400px;
    background-color: #393939;
    border-radius: 5px;
    margin-top: 40px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    color: #fff;
}
main .big2 .container2 .child .child-img{
    width: 300px;
    height: 320px;
}
main .big2 .container2 .child .child-img img{
    width: 100%;
    height: 100%;
    margin: 50px;
    object-fit: cover;
    border-radius: 5px;
}
main .big2 .container2 .child .child-img p{
    width: 150px;
    margin-left: 440px;
    margin-top: -240px;
    color: #167fff;
}
main .big2 .container2 .child .text{
    width: 200px;
    margin: 40px;
}
main .big2 .container2 .child .text p{
    color: #59ff59;
}
main .big2 .container2 .child .years{
    margin: 40px;
    margin-top: -30px;
}
main .big2 .container2 .child .years p{
    color: #59ff59;
}
main .big2 .container2 .child2{
    width: 840px;
    display: grid;
    grid-template-columns: 200px 300px;
    height: 230px;
    background-color: #393939;
    border-radius: 5px;
    margin-top: 50px;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}
main .big2 .container2 .child2 h1{
    width: 300px;
    color: #167fff;
    margin-left: 260px;
    margin-top: 20px;
}
main .big2 .container2 .child2 .app{
    display: flex;
    margin-top: 100px;
    gap: 40px;
}
main .big2 .container2 .child2 .app h2{
    color: #59ff59;
}
main .contact{
    width: 100%;
    height: 80px;
    background-color: #59ff59;
    display: flex;
    gap: 30px;
    margin: auto;
    justify-content: center;
    border-top: 1px solid green;
}
main .contact i{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #167fff;
    border-radius: 50px;
}
main .contact i:hover{
    width: 200px;
    height: 50px;
    font-size: 25px;
    color: #fff;
    display: flex;
    background-color: #167fff;
    border-radius: 50px;
    transition: .5s;
}
main .contact i:hover p{
    color: #fff;
    display: flex;
}
main .contact i .phone{
    font-size: 25px;
    display: none;
    font-family: 'Square Peg', cursive;
} 
main .contact i .facebook{
    font-size: 25px;
    display: none;
    font-family: 'Square Peg', cursive;
    margin-left: 8px;
} 
main .contact i .mail{
    font-size: 25px;
    display: none;
    font-family: 'Square Peg', cursive;
    margin-left: 8px;
} 